<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/imagens/logo.jpg" alt="logo detail">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#courses">Cursos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"></a>
              </li>
          </ul>
      </div>
  </div>
</nav>
