
<!-- CAROUSEL IMAGES -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<!-- WELCOME CONTENT -->
<section id="about">
  <div class="container pt-5 pb-5">
      <div class="row">
          <div class="col-md-6">
              <img class="w-100 p-3" src="../../../assets/imagens/imgprog.jpg" alt="School about">
          </div>
          <div class="col-md-6">
              <div class="about-content">
                  <h2 class="section-subtitle">Bem-vindo a</h2>
                  <h1 class="section-title">Guilda dos Iniciantes</h1>
                  <p>
                     Mais de 50 locais Para Aprender Como Programar de Graça. <br>
                     A arte de aprender a programar tem crescido muito nos últimos anos,
                     seja para fins profissionais ou como hobby. <br>
                     Agui vamos fazer um apanhado geral sobre programação. E isso inclui também apresentar um guia com
                     50+ sugestões de sites e plataformas que vão ajudar você a aprender a como programar e se especializar
                     no assunto.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- COURSES -->
<section id="courses" class="courses">
  <div class="container pt-5 pb-5">

      <h1 class="section-title">Top Cursos</h1>
      <div class="row">
          <div class="col-md-4">
              <div class="course mb-4">
                  <div class="course-image">
                      <img class="transition" src="../../../assets/imagens/front.jpeg" alt="course detail">
                  </div>
                  <div class="course-detail p-4">
                      <h2>
                          <a href="#">Cursos Front-end</a>
                      </h2>
                      <div class="course-info row pt-2 pb-3">
                          <div class="col-6">
                              <i class="fas fa-user"></i> 50
                          </div>
                          <div class="col-6 content-right">
                              <i class="fas fa-clock"></i> 5h 40m
                          </div>
                      </div>
                      <div class="course-desc">
                          <p>Lorem ipsum gravida nibh vel velit auctor
                              aliquetn sollicitudirem quibibendum auci
                              elit cons equat ipsutis sem nibh id elit.</p>
                      </div>
                      <div class="row">

                          <div class="col-6 content-right">
                              <a class="btn btn-secondary" routerLink="cursos-front-end">Join Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end -->
          <div class="col-md-4">
              <div class="course mb-4">
                  <div class="course-image">
                      <img class="transition" src="../../../assets/imagens/cursos.jpg" alt="course detail">
                  </div>
                  <div class="course-detail p-4">
                      <h2>
                          <a href="#">Cursos Back-end</a>
                      </h2>
                      <div class="course-info row pt-2 pb-3">
                          <div class="col-sm-6">
                              <i class="fas fa-user"></i> 50
                          </div>
                          <div class="col-sm-6 content-right">
                              <i class="fas fa-clock"></i> 5h 40m
                          </div>
                      </div>
                      <div class="course-desc">
                          <p>Lorem ipsum gravida nibh vel velit auctor
                              aliquetn sollicitudirem quibibendum auci
                              elit cons equat ipsutis sem nibh id elit.</p>
                      </div>
                      <div class="row">

                          <div class="col-sm-6 course-join content-right">
                              <a class="btn btn-secondary" href="#">Join Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="course mb-4">
                  <div class="course-image">
                      <img class="transition" src="../../../assets/imagens/dados.png" alt="course detail">
                  </div>
                  <div class="course-detail p-4">
                      <h2>
                          <a href="#">Cursos Banco de dados</a>
                      </h2>
                      <div class="course-info row pt-2 pb-3">
                          <div class="col-sm-6">
                              <i class="fas fa-user"></i> 50
                          </div>
                          <div class="col-sm-6 content-right">
                              <i class="fas fa-clock"></i> 5h 40m
                          </div>
                      </div>
                      <div class="course-desc">
                          <p>Lorem ipsum gravida nibh vel velit auctor
                              aliquetn sollicitudirem quibibendum auci
                              elit cons equat ipsutis sem nibh id elit.</p>
                      </div>
                      <div class="row">

                          <div class="col-sm-6 course-join content-right">
                              <a class="btn btn-secondary" href="#">Join Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
            <div class="course mb-4">
                <div class="course-image">
                    <img class="transition" src="../../../assets/imagens/cursos.jpg" alt="course detail">
                </div>
                <div class="course-detail p-4">
                    <h2>
                        <a href="#">Outros Cursos</a>
                    </h2>
                    <div class="course-info row pt-2 pb-3">
                        <div class="col-sm-6">
                            <i class="fas fa-user"></i> 50
                        </div>
                        <div class="col-sm-6 content-right">
                            <i class="fas fa-clock"></i> 5h 40m
                        </div>
                    </div>
                    <div class="course-desc">
                        <p>Lorem ipsum gravida nibh vel velit auctor
                            aliquetn sollicitudirem quibibendum auci
                            elit cons equat ipsutis sem nibh id elit.</p>
                    </div>
                    <div class="row">

                        <div class="col-sm-6 course-join content-right">
                            <a class="btn btn-secondary" href="#">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

  </div>
</section>


<!-- contin -->
